@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Web!</h1>
    <p class="lead">Hello web is a lovely squirrel web app. It displays the might of the squirrel, in its' natural habitat.</p>
    <img src="~/Content/Squirrel.jpg"/>
</div>