@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Web!</h1>
    <p class="lead">Hello web is a lovely squirrel web app. It displays the might of the squirrel, in its' natural habitat. The squirrel last ate at: 2:22:00PM, 7/14/2017</p>
    <img src="~/Content/Squirrel.jpg" />
</div>
